* {
    padding: 0;
    margin: 0;
}
body{
    background-image: url("../img/skyandgrass.jpg");
}
.weather-daily {
    width: 150px;
    height: 400px;
    text-align: center;
    box-sizing: content-box;
}
.weather-card {
    background-color: #1795d4;
    /*display: none;*/
}
.btn-bg {
    background-color: #1795d4;
    color: white;
}
header {
    background: rgba(0, 0, 0, 0.45);
    font-family: "Bangla MN", sans-serif;
    color: white;
}
.title-head {
    font-size: 4em;
    text-align: center;
    padding-top: .5em;
    text-decoration: underline #1795d4;
}
.city {
    text-align: center;
}
.grow {
    transition: all .2s ease-in-out;
}
.grow:hover {
    transform: scale(1.1);
    z-index: +1;
}
.weather-disc {
    height: 74px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.label-bg {
    background-color: #1795d4;
    border: solid 1px;
    border-radius: 5px;
}
#weather-container {
    margin-top: 2em;
    margin-bottom: 2em;
}
h5 {
    text-align: center;
}